    html {
        overflow-y: auto;
        background-color: transparent;
    }

    @media only screen and (max-device-width:480px) {
        html {
            overflow: auto;
        }
    }



    ::-moz-scrollbar {
        width: 10px;
        height: 6px;
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 6px;
    }

    ::-moz-scrollbar-button:start:decrement,
    ::-moz-scrollbar-button:start:decrement {
        height: 0px;
        display: block;
        background-color: black;
    }
    ::-webkit-scrollbar-button:start:decrement,
    ::-webkit-scrollbar-button:end:increment {
        height: 0px;
        display: block;
        background-color:transparent;
    }
    
    ::-moz-scrollbar-track-piece {
        background-color: transparent;          /*Global Track Peice(the slider noob.)*/
        -webkit-border-radius: 6px;
    }
    ::-webkit-scrollbar-track-piece {
        background-color: transparent;          /*Global Track Peice(the slider noob.)*/
        -webkit-border-radius: 6px;
    }

    ::-moz-scrollbar-thumb:vertical {
        height: 50px;
        background-color: rgba(102, 102, 102, 0.781);            /* Up/Down slider background*/
        -webkit-border-radius: 6px;
    }    
    ::-webkit-scrollbar-thumb:vertical {
        border-radius: 30px;
        height: 50px;
        background-color: rgba(102, 102, 102, 0.781);            /* Up/Down slider background*/
        -webkit-border-radius: 6px;
    }
    
    ::-moz-scrollbar-thumb:horizontal {
        width: 50px;
        background-color: rgba(102, 102, 102, 0.781);            /* Side/Side slider background*/
        -webkit-border-radius: 3px;
    }    
    ::-webkit-scrollbar-thumb:horizontal {
        border-radius: 100px;
        width: 50px;
        background-color: rgba(102, 102, 102, 0.781);            /* Side/Side slider background*/
        -webkit-border-radius: 3px;
    }